<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>shianqi'website</title>
  <meta name="description" content="">
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="css/website.css">
  <link rel="stylesheet" href="view3/default.css">
</head>
<body ng-app="myApp" id="mainPage">
  <div style="height: 67px"></div>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="container">
    <div ng-view></div>
  </div>

  <audio controls="controls" autoplay="autoplay" loop="loop">
    <source src="img/1.mp3" type="audio/mp3" />
  </audio>
  <div class="tail">
    <p>Copyright © 2015 Archie Shi.</p>
    <p>website-version:<span app-version></span></p>
  </div>

  <div ng-controller="title">
    <div class="navigation">
      <img src="img/catSmall.jpg" height="60px" id="icon_img" style="float: left;" />
      <div ng-click="changeColor_1()" class="navigation-button-{{onOffState1||'On'}}">
        <a href="">Home</a>
      </div>
      <div  ng-click="changeColor_2()" class="navigation-button-{{onOffState2||'Off'}}">
        <a href="">About Me</a>
      </div>
      <div ng-click="changeColor_3()" class="navigation-button-{{onOffState3||'Off'}}">
        <a href="">Else</a>
      </div>
      <!-- <div style="height: 1px; width: 100%; margin-top: 3px; background: #aa6666"></div> -->
    </div>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
  <script src="view1/view1.js"></script>
  <script src="view2/view2.js"></script>
  <script src="view3/view3.js"></script>
  <script src="view1/Chart.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
  <script src="app.js"></script>
  <script src="view3/functions.js"></script>
</body>
</html>   
