<div>
  <input id="inputText" type="text" ng-model="hh" ng-keypress="enter($event)"/>
  <input type="button" class="inputSubmit" id="inputSubmit" ng-click="show()" value="Run"/>
</div>

<div id="content" ng-switch on="showSecret">
  <div id="code2" ng-switch-when="true2">
    <span class="comments">/**</span><br />
    <span class="space"></span><span class="comments">* Hello World：</span><br />
    <span class="space"></span><span class="comments">* 欢迎来到我的个人网站。 </span><br />
    <span class="space"></span><span class="comments">* 在这里你可以看到关于我的一些简单介绍</span><br />
    <span class="space"></span><span class="comments">* 也可以看到一些有意思的东西</span><br />
    <span class="space"></span><span class="comments">*/</span><br />
    <span class="keyword">Boy</span> programmer = <span class="keyword">new</span> Boy(<span class="string">"LiuMangPeng"</span>)<span class="keyword">;</span><br />
    programmer<span class="keyword">.</span>setSkill(<span class="string">"eat"</span>)<span class="keyword">;</span><br />
    programmer<span class="keyword">.</span>setSkill(<span class="string">"sleep"</span>)<span class="keyword">;</span><br />
    programmer<span class="keyword">.</span>setSkill(<span class="string">"writeCode"</span>)<span class="keyword">;</span><br />
    programmer<span class="keyword">.</span>setSkill(<span class="string">"play"</span>)<span class="keyword">;</span><br />
    <span class="keyword">while</span>(programmer<span class="keyword">.</span>isAlive()==<span class="string">true</span>){<br />
    &nbsp;&nbsp;&nbsp; programmer<span class="keyword">.</span>eat()<span class="comments"></span><span class="keyword">;</span><br />
    &nbsp;&nbsp;&nbsp; programmer<span class="keyword">.</span>writeCode()<span class="comments"></span><span class="keyword">;</span><br />
    &nbsp;&nbsp;&nbsp; programmer<span class="keyword">.</span>sleep()<span class="comments"></span><span class="keyword">;</span><br />
    &nbsp;&nbsp;&nbsp; <span class="comments">//break;&nbsp&nbsp&nbsp233333~</span><br />
    }<br />
    programmer<span class="keyword">.</span>play()<span class="comments"></span><span class="keyword">;</span><br />
    <br />
    <span class="comments">// 以下是翻译：</span><br />
    <span class="comments">// 本人学识渊博、经验丰富，代码风骚、效率恐怖;</span><br />
    <span class="comments">// c/c++、java、php无不精通，熟练掌握各种框架</span><br />
    <span class="comments">// 深山苦练20余年，一天只睡4小时</span><br />
    <span class="comments">// 电话通知出bug后秒登vpn，千里之外定位问题，瞬息之间修复上线</span><br />
    <span class="comments">// 身体强壮、健步如飞</span><br />
    <span class="comments">// 可连续编程100小时不休息，讨论技术方案5小时不喝水</span><br />
    <span class="comments">// 上至带项目、出方案，下至盗账号、威胁pm，什么都能干。</span><br />
    <span class="comments">// 泡面矿泉水已备好，学校不支持编程已辍学</span><br />
    <span class="comments">// 家人不支持编程已断绝关系，老婆不支持编程已离婚</span><br />
    <span class="comments">// 小孩不支持编程已送孤儿院，备用电源百兆光纤永不断电断网</span><br />
    <span class="comments">// 门口已埋雷无人打扰。</span><br />
    <br />
    <span class="comments">// To be continued... </span><br />
  </div>
  <div id="code" ng-switch-when="true" ng-click="refresh()">
    <span class="comments">/**</span><br />
    <span class="space"></span><span class="comments">{{killer1}}</span><br />
    <span class="space"></span><span class="comments">{{killer2}}</span><br />
    <span class="space"></span><span class="comments">{{killer3}}</span><br />
    <span class="space"></span><span class="comments">{{killer4}}</span><br />
    <span class="space"></span><span class="comments">* </span><br />
    <span class="space"></span><span class="comments">{{killer5}}</span><br />
    <span class="space"></span><span class="comments">{{killer6}}</span><br />
    <span class="space"></span><span class="comments">{{killer7}}</span><br />
    <span class="space"></span><span class="comments">{{killer8}}</span><br />
    <span class="space"></span><span class="comments">*/</span><br />
    <span class="keyword">Girl</span> U = <span class="keyword">new</span> Girl(<span class="string">"zhuo"</span>)<span class="keyword">;</span><br />
    <span class="keyword">Boy</span> I = <span class="keyword">new</span> Boy(<span class="string">"qi"</span>)<span class="keyword">;</span><br />
    <span class="keyword">if</span>(I<span class="keyword">.</span>isImportantFor(U)==<span class="string">false</span>){<br />
    &nbsp;&nbsp;&nbsp;<span class="keyword">if</span>(U<span class="keyword">.</span>isSmileTo(I)==<span class="string">true</span>){<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I<span class="keyword">.</span>canDoEveryThingFor(U)<span class="keyword">;</span><br />
    &nbsp;&nbsp;&nbsp;}<br />
    }<br />
    <span class="keyword">if</span>(I<span class="keyword">.</span>isImportantFor(U)==<span class="string">true</span>){<br />
    &nbsp;&nbsp;&nbsp;<span class="keyword">if</span>(U<span class="keyword">.</span>isSmileTo(I)==<span class="string">true</span>){<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I<span class="keyword">.</span>canDoEveryThingFor(U)<span class="keyword">;</span><br />
    &nbsp;&nbsp;&nbsp;}<br />
    }<br />
    <span class="comments">{{killer9}}</span><br />
    <span class="comments">{{killer10}}</span><br />
    <span class="comments">{{killer11}}</span><br />
    <span class="comments">{{killer12}}</span><br />
    <span class="comments">{{killer13}}</span><br />
    <span class="comments">{{killer14}}</span><br />
    <span class="comments">//  </span><br />
    {{killer15}}<br />
    <span class="comments">{{killer16}}</span><br />
    {{killer17}}<br />
    <span class="comments">{{killer18}}</span><br />
    {{killer19}}<br />
    <span class="comments">{{killer20}}</span><br />
    <span class="comments">{{killer21}}</span><br />
    <span class="keyword">我会</span> 永远  <span class="keyword">{{killer22}}</span>;<br />
    <span class="keyword">一直</span>{{killer22}}<br />
    <span class="placeholder"></span><span class="comments">{{killer23}}</span><br />
    <span class="placeholder"></span><span class="comments">{{killer24}}</span><br />
    <span class="placeholder"></span>{{killer22}} && {{killer26}}<br /><br />
    {{killer25}}<br />
  </div>
  <br/>
  <input id="success" type="button" ng-click="isSuccess()" value="Yes"/>
  <br/>
  <input id="fail" type="button" ng-click="isFail()" value="No"/>
  <canvas id="garden"></canvas>
</div>
<div>
  <h2>留言板</h2>
  <textarea id="LeaveMessage" ></textarea><br>
  <input type="button" class="inputSubmit" id="messageSubmit" value="留言">
</div>

